/*
* @Author: liujie
* @Date:   2018-04-17 11:21:45
 * @Last Modified by: ihoey
 * @Last Modified time: 2018-04-24 11:03:43
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  outline: none;
}

